:root {
    --primary-color: #68c1ec;
    --secondary-color: #b2b0b1;
    --background-color: #f4f4f4;
    --text-color: #333333;
    --highlight-color: #db423b;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 15px 15px;
    border: 2px solid #333;
    align-items: center;
}
header img {
    grid-column: span 1;
}

nav {
    font-family:'Bebas Neue', sans-serif;
    grid-column: span 4;
    display: flex;
    justify-content: center;
}
nav a {
    color: var(--secondary-color);
    margin-right: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #333;
    background-color: #f9f9f9; 
}

nav a:hover {
    color: var(--highlight-color);
}

article {
    display: grid;
    grid-template-columns: 4fr 1fr; /* 1fr for paragraph, auto for image */
    align-items: center; /* Aligns content vertically */
    gap: 15px; /* Adds space between the paragraph and the image (optional) */
    padding: 15px; /* Optional styling */
    border: 2px solid var(--text-color); /* Optional styling */
}

article img {
    order: 1;
    grid-column: 2;
    min-width: 300px; 
    height: auto;
    object-fit: contain;
}

article p {
    grid-column: 1;
    margin: 0;
}

.history {
    grid-column: span 5;
}

.hero img {
    width: 30%;
    display: block;
}


h1 {
    text-align: center;
}


section {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 5fr;
    gap: 10px;
}

section img {
    width:auto;
}

section h2 {
    grid-column: span 6;
    text-align: center;
    align-self: center;
}

.raft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40% 60%;
    align-items: center;
    justify-items: center;
}
.raft img {
    grid-column: 0 / 6;
    grid-row: 2/ 3;
    width: 100%;

}

footer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr;
    padding: 15px 15px;
    border: 2px solid #333;

}

footer p {
    justify-self: center;
}

footer a {
    text-decoration: none;
    justify-items: right;
    display: flex;
    align-self: center;
    display: block;
}

footer a img {
    display: block;
    width: 30px;
    margin-right: 10px;
}